html, body{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
.section{
    min-height: 100vh;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section1{
    background-color: #ffc107;
    
}

.pulse{
    animation:textchangecolor 5s infinite alternate;
}

.section2{
/*    background-color: #ffd54a;*/
    background: linear-gradient(to bottom, #ffc107, #ffd54a);
}

.section3{
/*    background-color: #ffe082;*/
    background: linear-gradient(to bottom, #ffd54a, #ffe082);
}

.section4{
/*    background-color: #ffecb3;*/
    background: linear-gradient(to bottom, #ffe082, #ffecb3);
}

.section5{
    background: linear-gradient(to bottom, #ffecb3, #f8f9fa);
}
.section6{
    background: #f8f9fa;
}

@keyframes bgcolourchange{
    0%{
        background-color: #f8f9fa;
    }
    100%{
        background-color: #ffc107;
    }
}

@keyframes pulse{
    0%, 100%{
        transform: scale(1);
    }
    25%,50%, 75%{
        transform: scale(0.5);
    }
}

@keyframes textchangecolor{
    25%, 75%{
        color: #f8f9fa;
    }
    50%, 100%{
        color: black;
    }
}